# Конфигурация npm для стабильных Production сборок
registry=https://registry.npmjs.org/

# Точность версий
save-exact=true
package-lock=true

# Отключаем ненужное в CI/CD
audit=false
fund=false
optional=false

# Строгость движка
engine-strict=true

# Производительность
progress=false
loglevel=warn